#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        power {
            bindings = <&kp K_POWER>;
            key-positions = <8 9>;
        };

        oonishi {
            bindings = <&tog 3>;
            key-positions = <28 16>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
&kp Q                        &kp W                       &kp E          &kp R             &kp T                                                      &kp Y           &kp U  &kp I      &kp O    &kp P
&kp A                        &kp S                       &kp D          &kp F             &kp G           &trans                &kp LC(UP_ARROW)     &kp H           &kp J  &kp K      &kp L    &lt 1 MINUS
&kp Z                        &kp X                       &kp C          &kp V             &kp B           &kp LC(LEFT_ARROW)    &kp LC(RIGHT_ARROW)  &kp N           &kp M  &kp COMMA  &kp DOT  &kp SLASH
&mt LEFT_SHIFT LEFT_BRACKET  &mt LS(LCMD) RIGHT_BRACKET  &mt LCTRL ESC  &mt LEFT_ALT TAB  &mt LCMD LANG2  &lt 1 SPACE           &lt 2 ENTER          &mt RCMD LANG1                             &mt RIGHT_SHIFT BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(LS(MINUS))>;
        };

        sign_arrow {
            bindings = <
&kp QUESTION  &kp DOUBLE_QUOTES  &kp EXCLAMATION  &trans    &kp TILDE                               &kp INT_YEN      &kp LG(LEFT_ARROW)  &kp UP_ARROW    &kp LG(RIGHT_ARROW)  &kp PERCENT
&kp AT_SIGN   &kp SQT            &kp DOLLAR       &trans    &kp GRAVE      &trans    &trans         &kp HASH         &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &trans
&trans        &trans             &kp CARET        &kp PIPE  &kp BACKSLASH  &trans    &trans         &kp AMPERSAND    &trans              &kp SEMI        &kp COLON            &trans
&kp LPAR      &kp RPAR           &trans           &trans    &trans         &trans    &kp LS(ENTER)  &kp RIGHT_SHIFT                                                           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        bt_num {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp COMMA     &kp DOT
&trans        &trans          &trans        &trans        &trans        &trans    &kp KP_EQUAL     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS   &kp KP_SUBTRACT
&trans        &trans          &trans        &trans        &trans        &trans    &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp ASTERISK  &kp KP_DIVIDE
&bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans        &trans    &trans           &trans                                                           &trans
            >;
        };

        oonishi {
            bindings = <
&kp Q                        &kp L                       &kp U          &kp COMMA         &kp DOT                                                    &kp F           &kp W  &kp R  &kp Y  &kp P
&kp E                        &kp I                       &kp A          &kp O             &kp MINUS       &trans                &kp LC(UP_ARROW)     &kp K           &kp T  &kp N  &kp S  &lt 1 H
&kp Z                        &kp X                       &kp C          &kp V             &kp FSLH        &kp LC(LEFT_ARROW)    &kp LC(RIGHT_ARROW)  &kp G           &kp D  &kp M  &kp J  &kp B
&mt LEFT_SHIFT LEFT_BRACKET  &mt LS(LCMD) RIGHT_BRACKET  &mt LCTRL ESC  &mt LEFT_ALT TAB  &mt LCMD LANG2  &lt 1 SPACE           &lt 2 ENTER          &mt RCMD LANG1                       &mt RIGHT_SHIFT BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(LS(MINUS))>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                &trans
            >;
        };
    };
};
